.latest-story{
    height: 145Px !important;
}
.card-image{
    width: 100px !important;
    height: 70%;
}
.latest{
    border: 1px solid rgb(78, 80, 78) !important;
}
.card-for-latest{
    height: 150px !important;
    width: 100px !important;
}
a{
    color:black;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.discussion-card{
    width: 100% ;
}
.contact-us{
    color: white !important;
    background-color: #1a6aac !important;
    
}
footer{
    background-color: white !important;
    background-color: #123f64 !important;
    
}
.navigator{
    color: white !important;
    background-color: #123f64 !important;
}
.copy-right{
    background-color: #123f64 !important;
    color: white;
}
 

