.latest-story{
    height: 145Px !important;
}
.card-image{
    width: 100px !important;
    height: 70%;
}
.latest{
    border: 1px solid rgb(78, 80, 78) !important;
}
.card-for-latest{
    height: 150px !important;
    width: 100px !important;
}
a{
    color:black;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.discussion-card{
    width: 100% ;
}
.contact-us{
    color: white !important;
    background-color: #1a6aac !important;
    
}
footer{
    background-color: white !important;
    background-color: #123f64 !important;
    
}
.navigator{
    color: white !important;
    background-color: #123f64 !important;
}
.copy-right{
    background-color: #123f64 !important;
    color: white;
}
.contact-text{
    text-align: center !important;
    margin-top: 35px !important;
    margin-left: 10px;
}
.show-text{
    font-size: 24px;
    font-weight: 500;
}
/* gallery */

.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
